{{extend 'layout.html'}}
<h3> Search for a database </h3>
<br/><br/>
<p>
Field : <br/>
<select name="field" multiple="YES" size="10">
	<option value="First name">First name</option>
	<option value="Last name">Last name</option>
	<option value="Contact">Contact</option>
	<option value="Email">Email</option>
	<option value="Degree">Degree</option>
	<option value="Branch">Branch</option>
	<option value="Xmarks">Xmarks</option>
	<option value="Xiimarks">Xiimarks</option>
	<option value="Cgpa">Cgpa</option>
	<option value="Post">Post</option>
</select><br/><br/>
</p>
